
name: Deploy

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
  
    - uses: actions/setup-node@v4
      with:
        node-version: 20.x
        registry-url: 'https://registry.npmjs.org'
 
    - uses: actions/checkout@v2

    - name: setup Node
      working-directory: ./nuxt
      run: yarn install  
    
    - name: build
      working-directory: ./nuxt
      run: | 
        yarn generate
        find ./dist

    - name: aws cli setting
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region:  ap-northeast-1

    - name: Deploy to S3
      run: |
        aws s3 sync ./nuxt/dist/ s3://${{ secrets.S3_BUCKET_NAME }} --delete
